@font-face {
  font-family: 'Open Sans';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/opensans.woff2') format('woff2'),
    url('../fonts/opensans.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-weight: 300;
  font-style: normal;
  src: url('../fonts/opensanslight.woff2') format('woff2'),
    url('../fonts/opensanslight.woff') format('woff');
}
@font-face {
  font-family: 'Gilroy';
  font-weight: 300;
  font-style: normal;
  src: url('../fonts/gilroylight.woff2') format('woff2'),
    url('../fonts/gilroylight.woff') format('woff');
}
@font-face {
  font-family: 'Gilroy';
  font-weight: 800;
  font-style: normal;
  src: url('../fonts/gilroyextrabold.woff2') format('woff2'),
    url('../fonts/gilroyextrabold.woff') format('woff');
}
html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}
body {
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  color: #464646;
}
img {
  max-width: 100%;
  height: auto;
}
/* GENERAL STYLES */
.container {
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
}
.heading {
  font-family: 'Gilroy', 'Arial', sans-serif;
  font-size: 47px;
  line-height: 48px;
  font-weight: 800;
  color: #000;
}
.heading--fancy {
  /*TODO pseudoelement line */
}
.button {
  display: inline-block;
  border: none;
  background-color: transparent;
}
.button--fancy {
  padding: 8px 40px;
  font-family: 'Gilroy', 'Arial', sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: #000;
  background-image: linear-gradient(
    to bottom, 
    transparent 16px, 
    #f0c52e 16px,
    #f0c52e 24px,
    transparent 24px);
}
.button--fancy:hover,
.button--fancy:focus {
  background: #f0c52e;
}
.button--fancy:active {
  color: rgba(0, 0, 0, 0.3);
}
.button--comparison {
  font-size: 13px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.5);
}
.button--comparison:hover {
  color: #000;
}
.button--comparison:active {
  color: rgba(0, 0, 0, 0.1);
}
.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px; 
  height: 1px; 
  padding: 0;
  border: 0;
  margin: -1px;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}
/* =============
  HEADER
  ============== */
.site-header {
  position: relative;
  padding: 30px 60px 50px;
  margin-top: 40px;
  background-color: #f7e296;
}
.logo--header {
  position: absolute;
  top: -18px;
  left: 60px;
}
.logo--header__img {
  vertical-align: middle; 
}
.site-header__form-actions {
  display: flex;
  margin-bottom: 30px;
}
/* Search form */
.search-form {
  display: flex;
  width: 50%;
}
.search-form__input {
  width: 357px;
  padding: 20px 40px;
  border: none;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  background-color: transparent;
  opacity: 0.3;
}
.search-form__input:hover {
  opacity: 0.6;
}
.search-form__input:focus {
  border-bottom-color: #000;
  opacity: 1;
  outline: 0;
}
.search-form .button {
  display: none;
  padding: 20px;
  border: 2px solid #000;
  background-color: transparent;
}
.search-form .button:hover {
  background-color: #000;
  color: #fff;
}
.search-form .button:active {
  background-color: #000;
  color: rgba(255, 255, 255, 0.3);
}
.search-form__input:focus + .button {
  display: inline-block;
}

/* Site header actions */
.site-header__actions {
  display: flex;
  align-items: center;
  width: 520px;
  padding: 0;
  margin: 0;
  list-style: none;
}
.site-header__actions li {
  display: flex;
  align-items: center;
  margin-right: 40px;
}
.site-header__actions .profile-link {
  margin-right: auto;
}
.site-header__actions a {
  display: inline-block;
  padding-left: 25px;
  color: #000;
  text-decoration: none;
}
.site-header__actions a:hover {
  opacity: 0.6;
}
.site-header__actions a:active {
  opacity: 0.3;
}
/* Site navigation */
.sitenav__list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}
.sitenav__item-catalog {
  position: relative;
  /*width: 50%;*/
  margin-right: auto;
}
.sitenav__item-delivery {
  margin-right: 38px;
}
.sitenav__item-guarantee {
  margin-right: 114px;
}
.sitenav__item > a {
  font-family: 'Gilroy', 'Arial', sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 3.6px;
  color: #000;
}
.sitenav__item > a:hover {
  color: rgba(0, 0, 0, 0.6);
}
.sitenav__item > a:active {
  color: rgba(0, 0, 0, 0.3);
}
.sitenav__submenu {
  position: absolute;
  z-index: 2;
  top: 100%;
  left: -60px;
  display: none;
  width: 1160px;
  padding: 30px 60px;
  margin: 0;
  background-color: #f7e296;
  list-style: none;
}
.sitenav__item:hover .sitenav__submenu,
.sitenav__item > a:focus + .sitenav__submenu {
  display: flex;
}
.sitenav__submenu li {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 30px;
}
.sitenav__submenu a {
  margin-bottom: 10px;
  color: #000;
  text-decoration: none;
}
.sitenav__submenu a:last-child {
  margin-bottom: 0;
}
.sitenav__submenu a:hover {
  color: rgba(0, 0, 0, 0.6);
}
.sitenav__submenu a:active {
  color: rgba(0, 0, 0, 0.3);
}

/* =============
  FEATURED SLIDER
  ============== */
.slider {
  position: relative;
  z-index: 1;
  margin-bottom: 100px;
  background-color: #f7e296;
  background-image: linear-gradient(to bottom, #f7e296 120px, #fff 120px);
}
.slider__indicators {
  position: absolute;
  z-index: 2;
  top: 330px;
  right: 70px;
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}
.slider__indicators li {
  margin: 0 10px;
}
.slides {
  display: flex;
  padding: 0;
  margin: 0;
  overflow: hidden;
  list-style: none;
  counter-reset: slides;
}
.featured-slider {
  padding: 0 60px;
}
.slides-item {
  position: relative;
  z-index: 1;
  display: flex;
  width: 1040px;
  flex-shrink: 0;
  counter-increment: slides;
}
.slides-item::before {
  content: '0'counter(slides);
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  font-family: 'Gilroy', 'Arial', sans-serif;
  font-weight: 800;
  font-size: 179px;
  line-height: 179px;
  letter-spacing: 1.8px;
  color: #fff;
}
.slides-item__img-wrapper {
  width: 50%;
  padding: 0 30px;
}
.slides-item__img {
  vertical-align: middle;
}
.slides-item__description {
  width: 50%;
}
.slides-item__lead {
  position: relative;
  display: inline-block;
  padding-top: 90px;
  font-family: 'Gilroy', 'Arial', sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 56px;
  color: #000;
}
.slides-item__lead::before {
  content: '';
  position: absolute;
  top: 35px;
  left: 0;
  width: 100px;
  height: 7px;
  background-color: #fff;
}
.slides-item__text {
  margin-bottom: 50px;
}
.slides-item__link {
  margin-bottom: 50px;
}
.slides-item__details tbody {
  display: flex;
  flex-direction: column-reverse;
}
.slides-item__details tr {
  display: flex;
}
.slides-item__details th {
  padding-right: 80px;
  font-size: 13px;
  font-weight: 300;
  line-height: 20px;
}
.slides-item__details td {
  padding-right: 80px;
  font-family: 'Gilroy', 'Arial', sans-serif;
  font-weight: 300;
  font-size: 36px;
  line-height: 48px;
}

/* =============
  CATEGORIES
  ============== */
.categories {
  margin-bottom: 80px;
}
.categories-list {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  list-style: none;
}
.categories-item {
  flex-basis: 160px;
}
.categories-item__link {
  display: block;
  text-decoration: none;
}
.categories-item__img {
  display: inline-block;
  width: 160px;
  height: 160px;
  margin-bottom: 35px;
  background-color: #f7e296;
}
.categories-item__link:hover .categories-item__img {
 background-color: #f0c52e;
}
.categories-item__text {
  font-family: 'Gilroy', 'Arial', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  color: #000;
}
.categories-item__link:active .categories-item__text {
  opacity: 0.3;
}

/* =============
  SERVICES
  ============== */
.services {
  padding-bottom: 70px;
  background-image: linear-gradient(
    to bottom,
    #fff 100px,
    #e5e5e5 100px
  );
}
.services-inner {
  display: flex;
}
.services-list {
  padding: 80px 0 0;
  border-right: 7px solid black;
  margin: 0;
  list-style: none;
}
.services-list li {
  width: 285px;
  margin-bottom: 16px;
}
.button--service {
  min-width: 160px;
  padding-left: 25px;
  padding-right: 25px;
}
.services-list-active .button--service,
.button--service:active {
  width: 100%;
  background: #000;
  color: #f7e184;
  text-align: left;
}
.services__content {
  display: flex;
  width: 875px;
  padding: 0;
  margin: 0;
  overflow: hidden;
  list-style: none;
}
.services__item {
  flex-shrink: 0;
  width: 760px;
  padding-left: 115px;
}
.services__item-name {
  margin-top: 73px;
}
/* =============
  BRANDS
  ============== */
.brands {
  padding: 90px 0;
}
.brands__ul {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  list-style: none;
}
.brands__ul a {
  display: block;
  opacity: 0.2;
  filter: grayscale(100%);
}
.brands__ul a:hover {
  opacity: 1;
  filter: grayscale(0%);
}
.brands__ul img {
  vertical-align: middle;
}

.about-contacts {
  display: flex;
  align-items: flex-start;
  margin-bottom: 80px;
}
.about-contacts .heading {
  position: relative;
  z-index: 1;
  padding-top: 60px;
  margin-bottom: 60px;
}
.about-contacts .heading::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  height: 7px;
  background-color: #000;
}
.about-contacts p {
  margin-bottom: 44px;
}
/* =============
  ABOUT
  ============== */
.about {
  width: 50%;
}
.about ul {
  margin-bottom: 70px;
  font-family: 'Gilroy', 'Arial', sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 40px;
  color: #000;
  list-style-type: circle;
}

/* =============
  CONTACTS
  ============== */
.contacts {
  width: 50%;
}
.map-link {
  display: block;
  margin-bottom: 70px;
  text-decoration: none;
}
.map-link img {
  vertical-align: middle;
}
/* =============
  SITE-FOOTER
  ============== */
.site-footer {
  padding: 65px 0;
  background-color: #464646;
  color: #fff;
}
.site-footer__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}
.logo--footer:hover {
  opacity: 0.6;
}
.logo--footer:active {
  opacity: 0.3;
}
.site-footer__actions {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
}
.site-footer__actions a {
  display: inline-block;
  padding-left: 30px;
  margin-left: 40px;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
}
.site-footer__actions a:hover {
  color: #fff;
}
.site-footer__actions a:active {
  opacity: 0.3;
}
.site-footer__middle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 70px;
}
.site-footer address {
  width: 203px;
  font-style: normal;
}
.site-footer__links {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}
.site-footer__links li {
  margin: 0 20px;
}
.site-footer__links a {  
  font-family: 'Gilroy', 'Arial', sans-serif;
  font-weight: 800;
  font-size: 18px;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
}
.site-footer__links a:hover {
  opacity: 0.6;
}
.site-footer__links a:active {
  opacity: 0.3;
}
.site-footer__phone {
  margin-left: 40px;
  text-decoration: none;
  color: #fff;
}
.site-footer__phone:hover {
  opacity: 0.6;
}
.site-footer__phone:active {
  opacity: 0.3;
}
.site-footer__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.site-footer__bottom::before {
  content: '';
  width: 80px;
  height: 7px;
  background-color: #ffc600;
}
.site-footer__socials {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
}
.site-footer__socials li {
  margin: 0 10px;
  line-height: 12px;
}
.site-footer__socials a {
  display: inline-block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  opacity: 0.3;
  text-decoration: none;
}
.site-footer__socials a:hover {
  opacity: 0.6;
}
.site-footer__socials a:active {
  opacity: 0.1;
}
.htmlacademy-logo {
  margin-left: 53px;
}
.htmlacademy-logo:hover {
  opacity: 0.6;
}
.htmlacademy-logo:active {
  opacity: 0.3;
}
/* =============
  CATALOG
  ============== */
.page-title {
  padding: 40px 60px 50px;
}
.page-title .heading {
  margin-top: 0;
  margin-bottom: 30px;
}
/* Breadcrumbs */
.breadcrumbs {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  line-height: 24px;
}
.breadcrumbs li {
  margin-right: 40px;
}
.breadcrumbs a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.3);
}
.breadcrumbs a:hover {
  color: rgba(0, 0, 0, 0.6);
}
.breadcrumbs a:active {
  color: rgba(0, 0, 0, 0.1);
}

/* =============
  PRODUCTS
  ============== */
.products-wrapper {
  display: flex;
  justify-content: center;
}

.product__filters-heading h3 {
  margin: 0;
  font-family: 'Gilroy', 'Arial', sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 3.2px;
  text-transform: uppercase;
  color: #000;
}
/* Filters */
.product__filters {
  flex-grow: 1;
  background-color: #ebebeb;
}
.product__filters-bg {
  background-color: #d9d9d9;
}
.product__filters-heading {
  display: flex;
  align-items: center;
  min-height: 70px;
  padding-left: 60px;
}
.product__filters-heading,
.product__filters form {
  width: 330px;
  margin-left: auto;
}
.product__filters form {
  padding: 70px 67px 70px 60px;
}
.product__filters fieldset {
  padding: 0;
  border: none;
  margin: 0;
  margin-bottom: 40px;
}
.product__filters legend {
  display: block;
  width: 100%;
  font-family: 'Gilroy', 'Arial', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  color: #000;
}
.product__filters legend::before { 
  content: '';
  display: block;
  height: 2px;
  margin-bottom: 15px;
  background-color: #000;
}
.product__filters label {
  display: block;
  font-size: 14px;
  line-height: 40px;
  color: #000;
}
.products__list {
  flex-grow: 1;
  width: 830px;
  margin-right: auto;
}
/* Sorting row */
.sorting-wrapper {
  display: flex;
  align-items: center;
  min-height: 70px;
  padding-left: 75px;
  background-color: #ebebeb;
}
.sorting-label {
  margin-right: 55px;
  font-family: 'Gilroy', 'Arial', sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 3.2px;
  text-transform: uppercase;
  color: #000;
}
.products__sorting {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
  line-height: 18px;
}
.products__sorting li {
  margin-right: 30px;
}
.products__sorting a {
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
  color: #000;
  opacity: 0.3;
}
.products__sorting a:hover {
  opacity: 0.6;
}
.products__sorting a:active,
.products__sorting .active a {
  opacity: 1;
}
/* Products list */
.products__ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 830px;
  padding: 70px 0 0 75px;
  margin: 0;
  list-style: none;
}
.product {
  flex-basis: 360px;
  margin-bottom: 50px;
}
.product__img-wrapper {
  position: relative;
  z-index: 1;
  margin-bottom: 35px;
}
.product__img {
  vertical-align: middle;
}
.product__actions {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(238, 238, 238, 0.7);
}
.product:hover .product__actions {
  display: flex;
}
.product__actions .button--fancy {
  margin-bottom: 20px;
}
.product__text {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-family: 'Gilroy', 'Arial', sans-serif;
  line-height: 24px;
}
.product__name {
  width: 260px;
  margin: 0;
  font-size: 18px;
  line-height: 24px;
}
.product__name a {
  font-weight: 800;
  font-size: 18px;
  text-decoration: none;
  color: #000;
}
.product__price {
  font-size: 16px;
  font-weight: 300;
}
/* Pagination */
.pagination {
  width: 760px;
  margin-left: 75px;
  margin-bottom: 80px;
  background-color: #ebebeb;
}
.pagination-list {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
  font-family: 'Gilroy', 'Arial', sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 3.2px;
}
.pagination-list a {
  display: inline-block;
  padding: 10px;
  margin: 0 5px;
  text-decoration: none;
  color: #000;
  opacity: 0.3;
}
.pagination-list a:hover {
  opacity: 0.6;
}
.pagination-list a:active {
  opacity: 1;
}
.pagination-item--active a {
  opacity: 1;
}
.pagination-item--prev {
  margin-right: auto;
}
.pagination-item--next {
  margin-left: auto;
}
.pagination-item--prev a,
.pagination-item--next a {
  padding: 25px 30px;
  margin: 0;
  opacity: 1;
}
.pagination-item--prev a:hover,
.pagination-item--next a:hover {
  background-color: #d9d9d9;
  opacity: 1;
}
.pagination-item--prev a:active,
.pagination-item--next a:active {
  color: rgba(0, 0, 0, 0.3);
}
/* =============
  MODALS
  ============== */
.modal {
  display: none;
  position: fixed;
  z-index: 3;
  top: 80px;
  left: 50%;
  width: 960px;
  transform: translateX(-50%);
  background-color: #fff;
  box-shadow: 0px 10px 20px 0 rgba(4, 6, 6, 0.2);
}
.modal--contact {
  padding: 100px;
}
.modal--map img {
  vertical-align: middle;
}
.button--close {
  position: absolute;
  top: 22px;
  right: 22px;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-image: url("../img/modal-close.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0.5;
}
.button--close:focus,
.button--close:hover {
  opacity: 1;
}
.button--close:active {
  opacity: 0.3;
}
.contact-form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.contact-form__group {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.contact-form__group--half {
  width: 360px;
}
.contact-form label {
  display: inline-block;
  margin-bottom: 13px;
  font-family: 'Gilroy', 'Arial', sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
}
.contact-form input,
.contact-form textarea {
  border: none;
  padding: 16px;
  background-color: #f2f2f2;
}
.contact-form textarea {
  min-height: 156px;
  resize: vertical;
}
.contact-form input:hover,
.contact-form textarea:hover {
  background-color: #eaeaea;  
}
.contact-form input:focus,
.contact-form textarea:focus {
  outline: 0;
  background-color: #fff;  
  box-shadow: inset 0 0 0 3px #f7e296;
}
/*TODO: fix valid/invalid style change*/
/*.contact-form input:invalid,
.contact-form textarea:invalid {
  background-color: #f6dada;
}*/
